@charset "utf-8";

body {
	background-color:#ffffff;
	font-size:100%;
	font-family: "ＭＳ ゴシック",sans-serif;
	line-height:2.0;
	color:#000000;	
    width: 1000px; margin: 0 auto;
}

#header li{   
    display: inline;
    list-style: none;
    background-color: aquamarine;
    float: left;
    width: 400px; height: 35px;
    text-align: center;
}

table.form{
    width: 860px;
    border-collapse: collapse;
}

table.form th{
    width: 150px;
    padding: 30px;
    text-align: center;
    white-space: nowrap;
    background-color: #ccccee;
    border-bottom: dotted  #000000 1px;
}

table.form td{
    padding: 10px;
    background-color: #eeeeff;
    border-bottom:dotted #000000 1px;
}

table.form input{
    font-size: 110%;
}
