.title {
  position: relative;
  font-size: 20px;
  margin-top: 100px;
}

.ID {
  font-size: 30px;
}

.ID > input {
  width: 200px;
  padding: 5px;
  font-size: 20px;
}

.PASS {
  font-size: 30px;
}

.PASS > input {
  width: 200px;
  padding: 5px;
  font-size: 20px;
}

.log{
  margin-top: 20px;
  width: 100px;
  padding: 10px;
  font-size: large;
  background-color: #46ee8c;
  text-align: center;
  cursor: pointer;
}
.log:hover{
  background-color: #b4ffd9;
}
.reg{
  width: 100-x;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  text-align: center;
}
.reg:hover{
  color: #46ee8c;
}
.back{
  margin-top: 20px;
  width: 100px;
  padding: 10px;
  font-size: large;
  background-color: #46ee8c;
  text-align: center;
  cursor: pointer;
}
.back:hover{
  background-color: #b4ffd9;
}
.center {
  text-align: center;
}

.inline_brock {
  display: inline-block;
}