/*******************************************************************
***  File Name    : LoginDisplay.css
***  Version      : V1.2
***  Designer     : 吹谷優太
***  Date         : 2022.7.11
***  Purpose      : ログイン画面・新規登録画面のデザインを決める
*******************************************************************/

.title {
  position: relative;
  font-size: 20px;
  margin-top: 100px;
}

.ID {
  font-size: 30px;
}

.ID > input {
  width: 200px;
  padding: 5px;
  font-size: 20px;
}

.ID > input:focus{
  border: 1px solid #46ee8c;
  outline: none; 
  box-shadow: 0 0 5px 1px #b4ffd9;
}

.PASS {
  font-size: 30px;
}

.PASS > input {
  width: 200px;
  padding: 5px;
  font-size: 20px;
}

.PASS > input:focus{
  border: 1px solid #46ee8c;
  outline: none;
  box-shadow: 0 0 5px 1px #b4ffd9;
}

.log{
  margin-top: 20px;
  width: 100px;
  padding: 10px;
  font-size: large;
  background-color: #46ee8c;
  text-align: center;
  cursor: pointer;
}
.log:hover{
  background-color: #b4ffd9;
}
.reg{
  width: 100-x;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  text-align: center;
}
.reg:hover{
  color: #46ee8c;
}
.back{
  margin-top: 20px;
  width: 100px;
  padding: 10px;
  font-size: large;
  background-color: #46ee8c;
  text-align: center;
  cursor: pointer;
}
.back:hover{
  background-color: #b4ffd9;
}
.center {
  text-align: center;
}

.inline_brock {
  display: inline-block;
}