h1 {
  background: linear-gradient(transparent 70%, #71b4f0 70%);
}
table{
    border-spacing: 0;
    border-collapse: collapse;
  }
   
  td{
    border: 2px solid rgb(17, 13, 13);
    padding: 20px;
    text-align: center;
  }
   
  th:first-child{
    color: red;
  }
   
  th:last-child{
    color: royalblue;
  }
   
  th.is-disabled{
    color: #ccc;
  }