@charset "utf-8";

.wrapper{
    width: 80%;

    color: #666;
}
#header, h2 {
    text-align: center;
    font-size: 24px;
    width: 100%;
}

#calendar {
    text-align: center;
    width: 100%;
}

#button {
    width: 100%;
}

table {
    outline: 2px solid #ddd;
    border-spacing: 0;
    border-collapse: collapse;
}
th {
    color: #000;
    outline: 1px solid #ddd;
    text-align: center;
}
td {
    outline: 1px solid #ddd;
    text-align: center;
    padding: 20px;
}

th:first-child {
    color: red;
}

th:last-child {
    color: blue;
}
td:first-child {
    color: red;
    background-color: #f5e3e3;
}

td:last-child {
    color: blue;
    background-color: rgb(226, 230, 244);
}
td.disabled {
    color: #ccc;
}
.time input{
    width: 75px;
    padding: 1px;
    font-size: 15px;
}
#Button Button{
    width: 100px;
    padding: 3px;
    font-size: large;
    background-color: #46ee8c;
    cursor: pointer;
}
#Button button:hover{
    background-color: #b4ffd9;
}

#title {
    background: linear-gradient(transparent 70%, #46ee8c 70%);
}