@charset "utf-8";

.wrapper{
    width: 80%;
    margin: 0 auto;
    color: #666;
}
#header {
    text-align: center;
    font-size: 24px;
    width: 100%;
    margin: 1rem 0 0;
}

#calendar {
    text-align: center;
    width: 100%;
}
table {
    outline: 2px solid #ddd;
    border-collapse: collapse;
    width: 100%;
}
th {
    color: #000;
}
th, td {
    outline: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
td {
    padding-bottom: 30px;
}

td:first-child {
    color: red;
}

td:last-child {
    color: blue;
}

td.disabled {
    color: #ccc;
}

#Button {
    position: relative;
}
#Button Button{
    border: 1px solid rgb(99, 99, 99);
    font-size: 1rem;
    padding: 0.5rem 2rem;
    margin: 1rem 0;
}
#Button button:hover{
    background-color: #C0C0C0;
    border-color: #C0C0C0;
}
#prev {
    margin-left: 10%;
    float: left;
}
#next {
    float: left;
}

#back {
    float: right;
}

#title {
    background: linear-gradient(transparent 70%, #71b4f0 70%);
}