.title{
    position: relative;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}
.subtitle{
    width: 100%;
    position: relative;
    text-align: center;

    .transit {
        width: auto;
    }
    .money{
        width: auto;
        margin-left: 100px;
        margin-right: auto;
        .income{
            border: solid black 1px;
            background-color: rgb(187, 253, 253);
            color:black;
        }
        .spending{
            border: solid black 1px;
            background-color: rgb(187, 253, 253);
            color: black;
        }
    }
}

.inline_brock{
    display: inline-block;
}

.calender {
  margin: 0 auto;
  width: 100%;
  thead, tbody {
    text-align: center;
    .cell:hover{
        background-color: aliceblue;
    }
  } 
  thead {
    tr {
      th {
        text-align: center;
      }
    }
  }

  tbody {
    tr {
      td {
        width: calc(100%/7);
        text-align: center;
        color: #000;
        ul {
          top: 0;
          padding: 0;
          margin: 0;
      
          li {
            margin: 5px auto;
            padding: 5px 0;
            width: 90%;
            list-style: none;
          }

          .day {
            list-style-type: none;
            font-size: 20px;
            margin: 10px 0;
          }
        }
      }
    }
  }
}
.college{
    background-color: orange;
}
.private{
    background-color: aquamarine;
}